/* general css */

:root {
    --color-one: #181E4B;
    --color-two: #5E6282;
    --color-three: #DF6951;
    --color-four: #F0BB1F;
    --main-font: "Volkhov", serif;
    --secondery-font: "Poppins", sans-serif;
    --nav-font: "Google Sans Code", monospace;
}

.container {
    width: 1200px;
    padding: 0px 25px;
    margin: 0px auto;

}

img {
    user-select: none;
    -webkit-user-drag: none;
    /* Safari, Chrome */
    -khtml-user-drag: none;
    /* Older Konqueror browsers */
    -moz-user-drag: none;
    /* Firefox (not always needed) */
    -o-user-drag: none;
    /* Old Opera */
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
}

/* Nav Section */

nav {
    position: fixed;
    display: flex;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.navbar a {
    font-family: var(--nav-font);
    font-size: 17px;
}

.navbar li {
    padding: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.navbar li:hover::after {
    right: 0;
    transition: all 0.5s ease;
}

.navbar li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--color-four);
    position: absolute;
    right: 100%;
    bottom: 0;
    transition: all 0.5s ease;
}

.navbar ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.navbar .nav-brand {
    position: relative;
    margin-right: 50px;
}

.navbar .nav-brand::before {
    content: '';
    width: 20px;
    background-color: var(--color-four);
    height: 17px;
    position: absolute;
    z-index: -1;
    right: 25px;
    bottom: 0;
    border-radius: 50%;
    transform: translateY(-50%);
}

.navbar .nav-brand::after {
    content: '';
    width: 20px;
    background-color: var(--color-four);
    height: 17px;
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    transform: translateY(-50%);
}

.signup {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0px 20px;
    transition: background-color 0.5s ease;
}

.signup:hover {
    /* border: 2px solid black; */
    background-color: var(--color-four);
}

/* hero Section */

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

main h1 {
    font-family: var(--main-font);
    font-size: 84px;
    color: var(--color-one);
    font-weight: bold;
    letter-spacing: -4%;
    position: relative;

}

main .h1-decore::after {
    content: '';
    width: 400px;
    height: 100px;
    background-image: url(../Assets/Decore.png);
    background-repeat: no-repeat;
    right: 7%;
    background-position: 0% 100%;
    position: absolute;
    z-index: -1;
}

main p {
    font-family: var(--secondery-font);
    color: var(--color-two);
    font-size: 16px;
    line-height: 30px;
    width: 70%;
}

main .Tagline {
    font-size: 20px;
    color: var(--color-three);
    font-weight: bold;
    font-family: var(--secondery-font);
}

main .img-section {
    position: absolute;
    width: 50%;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    z-index: 1;
}

.plane-decore1 {
    position: absolute;
    transform: translate(-50%, -35%);
}

.plane-decore2 {
    position: absolute;
    right: 0;
    transform: translate(50%, 25%);
}


main .text-section {
    width: 60%;
    user-select: none;
}

.img-section img {
    width: 100%;
    transform: scale(1.2);
}

.image-decore {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1.2);
}

.hero-container {
    display: flex;
    position: relative;
}

.buttons {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding-top: 25px;
}

.buttons .btn1 {
    border-radius: 10px;
    background-color: #F1A501;
    color: white;
    transition: 0.4s all ease;
}

.buttons .btn1:hover {
    background-color: #ffae00;
    cursor: pointer;
}

.btn {
    height: 60px;
    width: 170px;
    border: none;
    font-size: 18px;
    font-family: var(--secondery-font);
}

.buttons .btn2 {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    transition: 0.4s all ease;

}

.buttons .btn2 a {
    transition: 0.4s all ease;
}

.buttons .btn2:hover,
.buttons .btn2:hover a {
    color: var(--color-four);
    cursor: pointer;
}

.buttons .demo-btn {
    font-size: 17px;
    color: #686D77;
    border: none;
    background-color: transparent;
    font-family: var(--secondery-font);
}

.buttons .play {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DF6951;
    border-radius: 50%;
}